<!DOCTYPE html>
<html>

<head>

</head>

<body>

	<style>
	
		.backdrop{
			max-width: 1000px;
			background-color: aliceblue;
			margin-left: auto;
			margin-right: auto;
			height: fit-content;
			text-align: center;
		}

		body{
			max-width: 1000px;
			margin-left: auto;
			margin-right: auto;
			text-align: center;
			padding:10px;
		}

		.padding{
			padding: 10px;
			font-size: 18px;
			line-height: 2;
		}
	</style>

<div class="backdrop">
	<br>
	<br>
	<a href="/newfriendgroup" class="padding">Create new friendgroup</a>
	<br>
	<a href="/addtogroup" class="padding">Add friend to existing friend group</a>
	<br>
	<a href="/home" class="padding">Home</a>
	<br>
	<br>
</div>
</body>

</html>

