<!DOCTYPE html>
<html>
<style>
	body {
	font-size: 24px;
	text-align: center;
	}

	.loginContainer{
		height:30px;
		width: 100px;
		text-align: center;
		top: 50%;
		border-width: 2px;
		border-radius: 8px ;
		border-color: #175EC1;
		background-color: #ADD8E6;
		border-style:solid;
		vertical-align: middle;
		margin: auto;
	}

	.whiteSpace{
		height: 100px;
	}


	
</style>
<head>

</head>

<body>
	<div class="whiteSpace">
	</div>
	<div class="loginContainer">
		<a href="/login">Login </a>
	</div>
	<br>
	<div class="loginContainer">
		<a href="/register">Register</a>
	</div>
</body>
</html>
