<!DOCTYPE html>
<html>

<head>

</head>

<body>
	<style>
	
		.backdrop{
			max-width: 1000px;
			background-color: aliceblue;
			margin-left: auto;
			margin-right: auto;
			height: fit-content;
			text-align: center;
		}

		body{
			max-width: 1000px;
			margin-left: auto;
			margin-right: auto;
			text-align: center;
			padding:10px;
		}

		.padding{
			padding: 10px;
			font-size: 18px;
			line-height: 2;
		}
	</style>

<div class= "backdrop">
	<br>
	<br>
	<a href="/find_followee" class="padding">Find a user you'd like to follow</a>
	<br>
	<a href="/unfollow" class="padding">Unfollow a user</a>
	<br>
	<a href="/show_requests" class="padding">View follow requests</a>
	<br>
	<a href="/home" class="padding">Home</a>
	<br>
	<br>
</div>

</body>

</html>



