<!DOCTYPE html>
<html>

<head>

</head>

<body>
	<style>
	
		.backdrop{
			max-width: 1000px;
			background-color: aliceblue;
			margin-left: auto;
			margin-right: auto;
			height: fit-content;
			text-align: center;
		}

		body{
			max-width: 1000px;
			margin-left: auto;
			margin-right: auto;
			text-align: center;
			padding:10px;
		}

		.padding{
			padding: 10px;
			font-size: 18px;
			line-height: 2;
		}
	</style>

<div class= "backdrop">
	<br>
	<br>
	<a href="/tag_requests" class="padding">View tag requests</a>
	<br>
	<a href="/tag_users" class="padding">Tag a friend</a>
	<br>
	<a href="/home" class="padding">Home</a>
	<br>
	<br>
</div>

</body>

</html>



